@charset "UTF-8";@charset "UTF-8";




#display{
	background: rgba(45, 43, 75, 0.1);	
	margin : 30px 100px;	
	height: 90vh;
		
}
.container{
	background-color: white;
	position: relative;
	top:100px;
}

.btn{
	position: relative;
	top:100px;
	left:14px;
}